body{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    text-align: center;
    font-size: 1rem;
    background-color: #e5e5e5;
    color: #40514E;
}

h1{
    margin-top: 2.6rem;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #ea5455;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #ea5455;
    font-weight: normal;
    padding-bottom: 1rem;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #ea5455;
}

.web-span{
    text-decoration: underline;
}

.section1-div{
    background-color: #2d4059;
    text-align: center;
    position: relative;
    padding-top: 6.875rem;
    bottom: 1rem;
}
.top-cloud{
    position: absolute;
    right: 18.75rem;
    top: 3.125rem;
}

.bottom-cloud{
    position: absolute;
    left: 16.25rem;
}

/* Middle Container */
.profile-picture{
    border-radius: 100%;
    width: 12rem;
}
.skills-image{
    width: 12rem;
}
.skills-logo{
    width: 30%;
    margin: 0 auto;
}

.logos{
    padding: 1rem;
}
.about-me{
    width: 50%;
    margin: 2rem auto;
    line-height: 2;
}

hr{
    border: dotted #EAF6F6 0.5rem;
    border-bottom: none;
    width: 4%;
    margin: 3rem auto;
}

.bio{
    width: 50%;
    margin: 0 auto;
    line-height: 3;
}


.btn {
    background: #ea5455;
    background-image: -webkit-linear-gradient(top, #ea5455, #ea5455);
    background-image: -moz-linear-gradient(top, #ea5455, #ea5455);
    background-image: -ms-linear-gradient(top, #ea5455, #ea5455);
    background-image: -o-linear-gradient(top, #ea5455, #ea5455);
    background-image: linear-gradient(to bottom, #ea5455, #ea5455);
    -webkit-border-radius: 33;
    -moz-border-radius: 33;
    border-radius: 33px;
    -webkit-box-shadow: 2px 4px 6px #666666;
    -moz-box-shadow: 2px 4px 6px #666666;
    box-shadow: 2px 4px 6px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    }
  .contact{
      margin-top: 3rem;
  }
  .btn:hover {
    background: #2d4059;
    text-decoration: underline;
  }

  .bottom-container{
      background-color: #2d4059;
      margin-top: 3rem;
      padding: 0.5rem;
  }

  .footer-text{
      color: #fff;
      padding: 0;
  }